<%= nested_form_for(@case_file, :html => { :class => 'form-horizontal', :multipart => true}) do |f| %>
  <% if @case_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case_file.errors.count, "error") %> prohibited this case_file from being saved:</h2>
      <ul>
      <% @case_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div role="tabpanel">
  <!-- Nav tabs -->
  <ul id="tabs" class="nav nav-pills custom" role="tablist">
    <li role="presentation" class="active"><a href="#detail1"  aria-controls="detail1" role="tab" data-toggle="tab">Incident Details</a></li>
    <li role="presentation"><a href="#detail2" aria-controls="detail2" role="tab" data-toggle="tab">Location Details</a></li>
    <li role="presentation"><a href="#detail3" aria-controls="detail3" role="tab" data-toggle="tab">Officer Details</a></li>
    <li role="presentation"><a href="#detail4" aria-controls="detail4" role="tab" data-toggle="tab">Related Person Details</a></li>
    <li role="presentation"><a href="#detail5" aria-controls="detail5" role="tab" data-toggle="tab">Upload PDF</a></li>
  </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="panel panel-default tab-pane active" style="margin-top:10px" id="detail1">
    <div class="panel-heading">
        Incident Details
    </div>
    <div class="panel-body">  
      <fieldset>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :file_no, "File Number", :class => 'label-control' %>
          </span>
          <span class="col-md-6">  
            <%= f.text_field :file_no, :class => 'form-control' %>
          </span>  
        </div>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :title, :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= f.text_field :title, :class => 'form-control' %>
          </span>
        </div>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :file_date, "File Date", :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= f.text_field :file_date, :class => 'form-control datepicker' %>
            <p class="help-block"> Date Format: YYYY/MM/DD </p>
          </span>
        </div>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :file_time, "File Time", :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= f.time_select :file_time, :default => Time.now %>
          </span>
        </div>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :event, :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= f.text_field :event, :class => 'form-control' %>
          </span>
        </div>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :nature, :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= collection_select(:case_file, :nature_id, Nature.all, :id, :nature_desc, { :include_blank => "Select a Nature" }, { :class => 'form-control'}) %>
          </span>
        </div>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :act_list, "Acts", :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= f.text_field :act_list, :class => 'form-control' %>
          </span>
        </div>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :section_list, "Sections", :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= f.text_field :section_list, :class => 'form-control' %>
          </span>
        </div>
      </fieldset>
    </div>
    <!-- panel-body -->
    <div class="col-sm-offset-4 col-sm-8" style="margin-top:10px" >
      <span class="btn btn-xs btn-default" id="toggle1">Previous</span>
      <span class="btn btn-xs btn-default" id="toggle2">Next</span>
    </div>
    <!-- Prev-Next Button -->    
  </div>
  <!-- panel -->  

    <div role="tabpanel" class="panel panel-default tab-pane" style="margin-top:10px" id="detail2">
      <div class="panel-heading">
          Location Details
      </div>
      <div class="panel-body">    
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :address, :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= f.text_area :address, :class => 'form-control', :style => 'height:100px' %>
          </span>
        </div>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :district, :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= collection_select(nil, :district_id, District.order(:name),  :id, :name, {:prompt   => "Select a District"}, {:id => 'districts_select', :class => 'form-control'}) %>
          </span>
        </div>  
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :tehsil, :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= grouped_collection_select(nil, :tehsil_id, District.order(:name), :tehsils , :name, :id, :name, {:prompt   => "Select a Tehsil"}, {:id => 'tehsils_select', :class => 'form-control'}) %>
          </span>
        </div>
        <div class="form-group">  
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :village, :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= grouped_collection_select(:case_file, :village_id, Tehsil.order(:name),:villages , :name, :id, :name, {:prompt   => "Select a Village"}, {:id => 'villages_select', :class => 'form-control'}) %>
          </span>
        </div>      
      </fieldset>
    </div>
    <!-- panel-body -->

    <div class="col-sm-offset-4 col-sm-8" style="margin-top:10px" >
      <span class="btn btn-xs btn-default" id="toggle3">Previous</span>
      <span class="btn btn-xs btn-default" id="toggle4">Next</span>
    </div>
    <!-- Prev-Next Button -->    
  </div>
  <!-- panel -->

  <div role="tabpanel" class="panel panel-default tab-pane" style="margin-top:10px" id="detail3">
    <div class="panel-heading">
        Officer Details
    </div>
    <div class="panel-body">  
      <fieldset>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :officer_name, "Police Officer", :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= f.text_field :officer_name, :class => 'form-control' %>
          </span>
        </div>
         <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :designation, :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= f.text_field :designation, :class => 'form-control' %>
          </span>
        </div>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :deo, "Data Entry Operator", :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= f.text_field :deo, :class => 'form-control' %>
          </span>
        </div>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :thana, :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= collection_select(:case_file, :thana_id, Thana.all, :id, :name, { :include_blank => "Select a Thana" }, { :class => 'form-control'}) %>
          </span>
        </div>
      </fieldset>
    </div>
    <!-- panel-body -->

    <div class="col-sm-offset-4 col-sm-8" style="margin-top:10px" >
      <span class="btn btn-xs btn-default" id="toggle5">Previous</span>
      <span class="btn btn-xs btn-default" id="toggle6">Next</span>
    </div>
    <!-- Prev-Next Button -->
  </div>
  <!-- panel -->

  <div role="tabpanel" class="panel panel-default tab-pane" style="margin-top:10px" id="detail4">
    <div class="panel-heading">
        Related Person Details
    </div>
    <div class="panel-body">
        <%= f.fields_for :relateds do |builder| %>
          <%= render "related_fields", :f => builder %>
        <% end %>
        <%= f.link_to_add "Add Related Person", :relateds, {:class => 'btn btn-xs btn-default'} %>
    </div>
    <!-- panel-body -->
    
    <div class="col-sm-offset-4 col-sm-8" style="margin-top:10px" >
      <span class="btn btn-xs btn-default" id="toggle7">Previous</span>
      <span class="btn btn-xs btn-default" id="toggle8">Next</span>
    </div>
    <!-- Prev-Next Button -->
  </div>
  <!-- panel -->

  <div role="tabpanel" class="panel panel-default tab-pane" style="margin-top:10px" id="detail5">
    <div class="panel-heading">
        Upload PDF
    </div>
    <div class="panel-body">  
      <fieldset>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :remark, :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <%= f.text_area :remark, :class => 'form-control', :style => 'height:100px' %>
          </span>
        </div>
        <div class="form-group">
          <span class="col-md-offset-1 col-md-3">
            <%= f.label :case_pdf, "Upload Case File", :class => 'label-control' %>
          </span>
          <span class="col-md-6">
            <% if @case_file.case_pdf? %>
              <%= link_to image_tag('/assets/pdf.png'), @case_file.case_pdf.url, target: '_blank' %><br/>
              <%= f.check_box :remove_case_pdf %>
            <% else %>   
              <%= f.file_field :case_pdf, :required => true %>
              <%= f.hidden_field :case_pdf_cache %>
            <% end %>
          </span>  
        </div>
      </fieldset>
    </div>
    <!-- panel-body-->

    <div class="col-sm-offset-4 col-sm-8" style="margin-top:10px" >
      <span class="btn btn-xs btn-default" id="toggle9">Previous</span>
      <span class="btn btn-xs btn-default" id="toggle10">Next</span>
    </div>
    <!-- Prev-Next Button -->

    <div class="col-sm-offset-4 col-sm-8" style="margin-top:20px">
        <%= f.submit "Submit", :class => 'btn btn-primary btn-md' %>
        <%= link_to 'Back', case_files_path, :class => 'btn btn-default btn-sm' %>
    </div>
  </div>
  <!-- panel-->
</div>
<!-- Tab Content-->
</div>
<!-- Tab Panel -->

<% end %>
