  <div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped table-hover">
          <tr>
            <th></th>
            <th>S.no</th>
            <th>Case File no.</th>
            <th>Title</th>
            <th>File Date</th>
            <th>Address</th>
            <th>Event</th>
            <th>Thana</th>
            <th>Police Officer</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <% i=0 %>
          <% @case_files.each do |case_file| %>
            <tr>
              <td><%= check_box_tag "case_files[]", case_file.id %></td>
              <td><%= p i=i+1 %></td>
              <td><%= case_file.file_no %></td>
              <td><%= case_file.title %></td>
              <td><%= case_file.file_date.strftime('%d-%m-%Y') %></td>
              <td><%= case_file.address %></td>
              <td><%= case_file.event %></td>
              <td><%= case_file.thana.name %></td>
              <td><%= case_file.officer_name %></td>
              <td><%= link_to "View", case_file, :class => 'btn btn-xs btn-default' %></td>
              <td><%= link_to "Edit", edit_case_file_path(case_file), :class => 'btn btn-xs btn-default' %></td>
              <% if case_file.case_pdf? %>
                <td><%= link_to image_tag('/assets/pdf.png')+"Download", case_file.case_pdf.url, target: '_blank' %></td>
              <% else %>
                <td>N/A</td>
              <% end %>    
            </tr>
          <% end %>  
        </table>
        <%= paginate @case_files %> 
    </div>
  </div>  