<div class="form-group">
	<span class="col-md-offset-1 col-md-3">
	  <%= f.label :name, "Related Person", :class => 'label-control' %>
	</span>
	<span class="col-md-6">
	  <%= f.text_field :name, :class => 'form-control' %>
	</span>
</div>
<div class="form-group">
	<span class="col-md-offset-1 col-md-3">
	  <%= f.label :relation, :class => 'label-control' %>
	</span>
	<span class="col-md-6">
	  <%= f.text_field :relation, :class => 'form-control' %>
	</span>
</div>
<div class="form-group">
	<span class="col-md-offset-1 col-md-3">
	  <%= f.label :address, :class => 'label-control' %>
	</span>
	<span class="col-md-6">
	  <%= f.text_field :address, :class => 'form-control' %>
	</span>
</div>
<div class="form-group">	
	<span class="col-md-offset-1 col-md-3">
	  <%= f.label :contact, :class => 'label-control' %>
	</span>
	<span class="col-md-6">
	  <%= f.text_field :contact, :class => 'form-control' %>
	</span>
</div>
<div class="form-group">	
	<span class="col-md-offset-1 col-md-3">
	  <%= f.label :guardian_name, "Guardian Name", :class => 'label-control' %>
	</span>
	<span class="col-md-6">
	  <%= f.text_field :guardian_name, :class => 'form-control' %>
	</span>
</div>	
<div class="form-group">	
	<span class="col-md-offset-1 col-md-3">
	  <%= f.label :remark, :class => 'label-control' %>
	</span>
	<span class="col-md-6">
	  <%= f.text_field :remark, :class => 'form-control' %>
	</span>
</div>
	<%= f.link_to_remove "Remove", {:class => 'btn btn-xs btn-default'} %>
<hr>