
<!-- row -->
<div class="row">
  <div class="text-center">
    <h1 class="page-header text-muted">List Of Case Files</h1>
  </div>
</div>
<!-- /.row -->

<div class="well">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="col-md-1">
        <label class="label-control"> Search:</label>
      </div>
      <div class="col-md-3">
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed form-control', placeholder: 'Enter Search keyword'
        ) %>
      </div>
      <div class="col-md-1">
        <label class="label-control"> Filter:</label>
      </div>
      <div class="col-md-3">
        <%= f.select(:with_thana_name, @filterrific.select_options[:with_thana_name], { include_blank: 'Select a Thana' }, { :class => 'filterrific-periodically-observed form-control'}) %>
      </div>
      <div class="col-md-1">
        <label class="label-control"> Sort By:</label>
      </div>
      <div class="col-md-3">  
        <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], { include_blank: 'Sort By:' }, { :class => 'filterrific-periodically-observed form-control'}) %>
      </div>
      <br/>
      <br/>
      <br/>
      <%= link_to 'Reset filters', reset_filterrific_url, :class => 'btn btn-sm btn-default' %>
      <%# add an automated spinner to your form when the list is refreshed %>
      <%= render_filterrific_spinner %>
    <% end %>
</div>
<!-- /.well -->

<%= form_tag destroy_multiple_case_files_path, method: :delete do %>
<!-- row -->
<div class="row">
  <div class="col-md-offset-1 col-md-11" id="filterrific_results">
    <%= render(
        partial: 'case_files/list',
        locals: { case_files: @case_files }
      ) %>
  </div>
</div>
<!-- /.row -->
              
<span class="col-md-offset-5 col-md-1">
    <%= submit_tag "Delete selected", :class => 'btn btn-default', data: { confirm: "Are You sure?" } %>
</span>
<% end %>
