
<!-- row -->
<div class="row">
	<div class="text-center">	
		<h1 class="page-header text-muted">New Case File</h1>
	</div>
</div>
<!-- /.row -->		

<!-- row -->
<div class="row"> 		
		<div class="col-lg-offset-2 col-lg-8  "> 
			<%= render 'form' %>
		</div>
		<!-- col-lg-offset-->	
</div>	
<!-- /.row-->


