<!-- row -->            
<div class="row">
    <div class="col-lg-12">
    	<div class="text-center">
        	<h1 class="page-header text-muted">Case File Detail</h1>
    	</div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- row -->
<div class="row">
	<div class="col-md-offset-1 col-md-10 col-md-offset-1">
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">#<%= @case_file.file_no %> <%= @case_file.title %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> 
                	<% if @case_file.case_pdf? %>
                		<%= link_to image_tag('/assets/pdf-icon.png'), @case_file.case_pdf.url, target: '_blank' %>
              		<% else %>
                		N/A
              		<% end %>     
          		</div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td><b>Case File Date</b></td>
                        <td><%= @case_file.file_date.strftime('%d-%m-%Y') %></td>
                      </tr>  
                      <tr>
                        <th>Case File Time</th>
                        <td><%= @case_file.file_time.strftime("%H:%M") %></td>
                      </tr>
                      <tr>
                        <th>Event</th>
                        <td><%= @case_file.event %></td>
                      </tr>
                      <tr>
                        <th>Nature</th>
                        <td><%= @case_file.nature.nature_desc %></td>
                      </tr>
                      <tr>
                        <th>Acts</th>
                        <td>
                          <%= @case_file.acts.collect {|act| act.act_name }.to_sentence(words_connector: ', ', last_word_connector: ', ') %>           
                        </td>  
                      </tr>
                      <tr>
                        <th>Sections</th>
                        <td>
                          <%= @case_file.sections.collect {|section| section.section_no }.to_sentence(words_connector: ', ', last_word_connector: ', ') %>           
                        </td>  
                      </tr>
                      <tr>
                        <th>Thana</th>
                        <td><%= @case_file.thana.name %></td>
                      </tr>
                      <tr>
                        <th>Police Officer</th>
                        <td><%= @case_file.officer_name %></td>
                      </tr>
                      <tr>
                        <th>Designation</th>
                        <td><%= @case_file.designation %></td>
                      </tr>
                      <tr>
                        <th>Data Entry Operator</th>
                        <td><%= @case_file.deo %></td>
                      </tr> 
                      <tr>
                        <th>Remark</th>
                        <td><%= @case_file.remark %></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <th>Address</th>
                        <td><%= @case_file.address %></td>
                      </tr>
                      <tr>
                        <th>Village</th>
                        <td><%= @case_file.village.name  %></td>
                      </tr>
                      <tr>
                        <th>Tehsil</th>
                        <td><%= @case_file.village.tehsil.name  %></td>
                      </tr>
                      <tr>
                        <th>District</th>
                        <td><%= @case_file.village.tehsil.district.name %></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr> 
                      <% @case_file.relateds.each do |related| %>  
                        <tr>
                          <th>Person name</th>
                          <td><%= related.name %></td>
                        </tr>
                        <tr>
                          <th>Relation</th>
                          <td><%= related.relation %></td>
                        </tr>
                        <tr>
                          <th>Address</th>
                          <td><%= related.address %></td>
                        </tr>
                        <tr>
                          <th>Contact</th>
                          <td><%= related.contact %></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      <% end %>                                
                    </tbody>
                  </table>
                </div>
                <!-- /. col-md-9 -->
              </div>
              <!-- /. row -->
        </div>
        <!-- /. panel body -->

    </div>
    <!-- /. panel -->
	</div>
	<!-- col-md-10 -->
<span class="col-md-offset-5 col-md-1">
    <%= link_to "Back", case_files_path, :class => 'btn btn-default' %>
</span>	
</div>
<!-- /.row -->	