# app/views/home/update_tehsils.js.erb
$('#tehsils_select').html("<%= escape_javascript(options_for_select(@tehsils)) %>");
$('#villages_select').html("<%= escape_javascript(options_for_select(@villages)) %>");
 
