<%= nested_form_for(@district, :html => { :class => 'form-horizontal', :multipart => true}) do |f| %>
  <% if @district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@district.errors.count, "error") %> prohibited this district from being saved:</h2>

      <ul>
      <% @district.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <span class="col-md-offset-1 col-md-3">
        <%= f.label :name, "District", :class => 'label-control' %>
      </span>
      <span class="col-md-6">
        <%= f.text_field :name, :class => 'form-control' %>
      </span>  
    </div>
    <hr>
    <p>  
        <%= f.fields_for :tehsils do |builder| %>
          <%= render "tehsil_fields", :f => builder %>
        <% end %>
        <%= f.link_to_add "Add Tehsil", :tehsils, {:class => 'btn btn-xs btn-default'} %>       
    </p>
    <div class="form-group">
      <span class="col-md-offset-4 col-md-6">
        <%= f.submit "Submit", :class => 'btn btn-primary' %>
        <%= link_to 'Back', districts_path, :class => 'btn btn-default' %>
      </span>
    </div>
  </fieldset>
<% end %>
