<div class="form-group">
	<span class="col-md-offset-1 col-md-3">
	  <%= f.label :name, "Village", :class => 'label-control' %>
	</span>
	<span class="col-md-6">
	  <%= f.text_field :name, :class => 'form-control' %>
	</span>
	<span class="col-md-1">
	  <%= f.link_to_remove "Remove", {:class => 'btn btn-xs btn-default'} %>
	</span>  
</div>

	
