<!-- row -->
<div class="row">
  <div class="text-center">
    <h1 class="page-header text-muted">List Of Districts</h1>
  </div>
</div>
<!-- /.row -->

<!-- row -->
<div class="row">
  <div class="col-md-offset-4 col-md-4 panel panel-default">
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <tr>
          <th>S.no</th>
          <th>Districts</th>
          <th></th>
        </tr>
        <% i=0 %>
        <% @districts.each do |district| %>
          <tr>
            <td><%= p i=i+1 %></td>
            <td><%= district.name %></td>
            <td><%= link_to "Edit", edit_district_path(district), :class => 'btn btn-xs btn-default' %></td>
          </tr>
        <% end %>  
      </table>
    </div>  
  </div>
</div>
<!-- /.row -->

<span class="col-md-offset-5 col-md-1">  
    <%= link_to 'New District', new_district_path, :class => 'btn btn-default' %>
</span>    



















