<%= form_for(@nature, :html => { :class => 'form-horizontal', :multipart => true}) do |f| %>
  <% if @nature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nature.errors.count, "error") %> prohibited this nature from being saved:</h2>

      <ul>
      <% @nature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <span class="col-md-3">
        <%= f.label :nature_desc, "Nature Description", :class => 'label-control' %>
      </span>
      <span class="col-md-9">  
        <%= f.text_field :nature_desc, :class => 'form-control' %>
      </span>  
    </div>
    <div class="form-group">
      <span class="col-md-offset-4 col-md-6">
        <%= f.submit "Submit", :class => 'btn btn-primary' %>
        <%= link_to 'Back', natures_path, :class => 'btn btn-default' %>
      </span>
    </div>
  </fieldset>
<% end %>
