<!-- row -->
<div class="row">
  <div class="text-center">
    <h1 class="page-header text-muted">List Of Natures</h1>
  </div>
</div>
<!-- /.row -->

<%= form_tag destroy_multiple_natures_path, method: :delete do %>
<!-- row -->
<div class="row">
  <div class="col-md-offset-4 col-md-4 panel panel-default">
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <tr>
          <th></th>
          <th>S.no</th>
          <th>Description of Nature</th>
          <th></th>
        </tr>
        <% i=0 %>
        <% @natures.each do |nature| %>
          <tr>
            <td><%= check_box_tag "natures[]", nature.id %></td>
            <td><%= p i=i+1 %></td>
            <td><%= nature.nature_desc %></td>
            <td><%= link_to "Edit", edit_nature_path(nature), :class => 'btn btn-xs btn-default' %></td>
          </tr>
        <% end %>  
      </table>
    </div>  
  </div>
</div>
<!-- /.row -->

<span class="col-md-offset-4 col-md-1">  
    <%= link_to 'New Nature', new_nature_path, :class => 'btn btn-default' %>
</span>    
<span class="col-md-offset-1 col-md-1">
    <%= submit_tag "Delete selected", :class => 'btn btn-default', data: { confirm: "Are You sure?" } %>
</span>
<% end %>
