:focus{
	outline-color:transparent !important;
	outline-style:none !important
}

html{
	overflow-y:scroll;
	background:#fff
}

body{
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	line-height:18px;
	color:#333;
	-webkit-font-smoothing:subpixel-antialiased;
	-webkit-text-size-adjust:100%;
	cursor:default
}



h1,h2,h3,h4,h5,h6{
	color:#474747;
	font-weight:700;
	line-height:1.25;
}

h3,h4,h5{
	font-weight:600;
}

h1{
	font-size:30px;
}

h2{
	font-size:24px
}

h3{
	font-size:18px
}

h4{
	font-size:14px
}

hr{
	background:0;
	border:0;
	height:1px;
	margin:18px 0;
	background:#eee;
	color:#efefef
}


ul{
	margin:20px 0
}

ul li i[class^="icon-"]{
	color:#999
}

ul li:hover i[class^="icon-"]{
	color:#222
}

footer p{
	font-size:.85em;
	color:#999;
	line-height:1.4em
}


.navbar{
	background:white;
	padding-bottom:24px;
	margin-bottom:0px;
	border-bottom:1px solid #e6e6e6;
	-webkit-box-shadow:0 0 32px rgba(0,0,0,0.08);
	-moz-box-shadow:0 0 32px rgba(0,0,0,0.08);
	-o-box-shadow:0 0 32px rgba(0,0,0,0.08);
	box-shadow:0 0 32px rgba(0,0,0,0.08);
	padding-top:0
}

.nav li a{
	display:block !important
}

.navbar .container-fluid{
	width:940px;
	padding-bottom:0;
	border-bottom:0 solid #eee;
	margin-bottom:0
}

.navbar .navbar-collapse{
	background:transparent !important;
	background-image:none !important;
	padding:19px 0 0 0;
	border:0;
	filter:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none
}

.navbar .nav-responsive{
	display:none
}

.navbar .navbar-brand{
	font-weight:bold;
	font-size:36px;
	letter-spacing:-2px;
	line-height:.7em;
	color:#000;
	-webkit-transition:all .1s ease-out;
	-moz-transition:all .1s ease-out;
	-ms-transition:all .1s ease-out;
	-o-transition:all .1s ease-out;
	transition:all .1s ease-out
}

.navbar .navbar-brand:hover{
	color:#7ed090
}

.navbar .nav{
	float:right
}

.navbar .nav>li:hover{
	border-bottom:1px solid #ccc
}

.navbar .nav>li.active{
	border-bottom:1px solid #aaa
}

.navbar .nav>li.active>a,.navbar .nav>li.active:hover>a{
	background:0;
	font-weight:bold;
	font-weight:normal;
	color:#000
}

.navbar .nav>li{
	margin:4px 0 0 10px;
	position:relative
}

.navbar .nav>li a,.navbar .nav>li a:hover{
	text-decoration:none;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	-o-box-shadow:none !important;
	box-shadow:none !important
}

.navbar .nav>li>a{
	color:#000;
	padding:9px 10px 11px;
	font-size:1.1em;
	text-shadow:0 -1px 0 rgba(255,255,255,0.25)
}

.navbar .nav>li>a:hover{
	color:#fff;
	padding-bottom: 7px;
	padding-top: 7px
}

.navbar .nav>li.active:hover>a{
	padding: 9px 10px 11px;
}	

.navbar .nav li.dropdown:hover{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box
}

.navbar .nav li.dropdown:hover{
	background:#444
}

.navbar .nav li.dropdown a{
	text-decoration:none
}

.navbar .nav li.dropdown:hover a{
	color:#fff !important
}

.navbar .nav li.dropdown ul li:first-child{
	-webkit-border-radius:0 3px 0 0;
	-moz-border-radius:0 3px 0 0;
	border-radius:0 3px 0 0;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box
}

.navbar .nav li.dropdown ul li:last-child{
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box
}

.navbar .nav li ul{
	margin:0;
	display:none;
	z-index:99
}

.navbar .nav li ul li{
	margin:0;
	padding:0;
	background:#444;
	width:160px;
	border-bottom:1px solid #555;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-ms-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out
}

.navbar .nav li ul li:hover{
	background:#f26a46
}

.navbar .nav li ul li a{
	padding:6px 10px;
	margin:0;
	display:inline-block;
	text-decoration:none;
	color:#fff;
	font-size:1em
}

.navbar .nav li:hover ul{
	list-style-type:none;
	margin:0;
	display:block;
	position:absolute;
	top:2.9em
}

/* Added Styling */
.navbar-brand{
	padding: 30px;
}

.dropdown-menu {
	background-color: #444;

}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #000;
}


#tabs > li >a:hover{
	background-color: #fff;
}

#tabs > li >a:focus{
	background-color: #fff;
}

#tabs > li >a{
	color:#000;
}

#tabs > li.active > a {
    color: #000;
    background-color: #F5F5F5;
    border: 1px solid #ccc
}

#tabs > li.active > a:hover {
    color: #000;
    background-color: #ECEAEA;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #000;
}

.table-user-information>tbody>tr{
	border-top:1px solid #ddd
}

.table-user-information>tbody>tr:first-child,.table-user-information>tbody>tr>td{
	border-top:0
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

