<%= form_for(@thana, :html => { :class => 'form-horizontal', :multipart => true}) do |f| %>
  <% if @thana.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thana.errors.count, "error") %> prohibited this thana from being saved:</h2>

      <ul>
      <% @thana.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <span class="col-md-3">
        <%= f.label :name, "Name of Thana", :class => 'label-control' %>
      </span>
      <span class="col-md-9">  
        <%= f.text_field :name, :class => 'form-control' %>
      </span>  
    </div>
    <div class="form-group">
      <span class="col-md-3">
        <%= f.label :address, "Address Of Thana", :class => 'label-control' %>
      </span>
      <span class="col-md-9">
        <%= f.text_field :address, :class => 'form-control' %>
      </span>
    </div>  
    <div class="form-group">
      <span class="col-md-offset-4 col-md-6">
        <%= f.submit "Submit", :class => 'btn btn-primary' %>
        <%= link_to 'Back', thanas_path, :class => 'btn btn-default' %>
      </span>
    </div>
  </fieldset> 
<% end %>
