<!-- row -->
<div class="row">
	<div class="text-center">
		<h1 class="page-header text-muted">Edit Thana Details</h1>
	</div>
</div>
<!-- /.row -->

<!-- row -->
<div class="row"> 		
		<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 ">
			<div class="panel panel-default">
				<div class="panel-heading">
					Please Fill Up the following
				</div> 
				<div class="panel-body">	
					<%= render 'form' %>
				</div>	
			</div>
			<!-- panel -->		
		</div>
		<!-- col-lg-offset-->	
</div>	
<!-- /.row-->
