<!-- row -->
<div class="row">
  <div class="text-center">
    <h1 class="page-header text-muted">List Of Thanas</h1>
  </div>
</div>
<!-- /.row -->

<%= form_tag destroy_multiple_thanas_path, method: :delete do %>
<!-- row -->
<div class="row">
  <div class="col-md-offset-3 col-md-6 panel panel-default">
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <tr>
          <th></th>
          <th>S.no</th>
          <th>Name Of Thana</th>
          <th>Address Of Thana</th>
          <th></th>
        </tr>
          <% i=0 %>
          <% @thanas.each do |thana| %>
          <tr>
            <td><%= check_box_tag "thanas[]", thana.id %></td>
            <td><%= p i=i+1 %></td>
            <td><%= thana.name %></td>
            <td><%= thana.address %></td>
            <td><%= link_to "Edit", edit_thana_path(thana), :class => 'btn btn-xs btn-default' %></td>
          </tr>
          <% end %>  
      </table>
    </div>  
  </div>
</div>
<!-- /.row -->
<span class="col-md-offset-4 col-md-1">  
    <%= link_to 'New Thana', new_thana_path, :class => 'btn btn-default' %>
</span>    
<span class="col-md-offset-1 col-md-1">
<%= submit_tag "Delete selected", :class => 'btn btn-default', data: { confirm: "Are You sure?" } %>
</span>
<% end %>
